<div>
  <Input @value={{this.bookName}} />
  <button {{on "click" this.addBook}}>Save</button>
</div>

<div>
  All books:
  {{#each @model.books as |book|}}
    <div>{{book.name}}</div>
  {{/each}}
</div>

<div>
  Query book 'Atomic Habbits':
  {{#each @model.queryBook as |book|}}
    <div>{{book.name}}</div>
  {{/each}}
</div>
